[project]
name = "deeprecurse"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "openai>=2.21.0",
    "rich>=14.3.2",
]
